
<div class="body">
  <mat-card class="spinner" *ngIf="spinnerService">
    <mat-spinner ></mat-spinner>
  </mat-card>
  <mat-card *ngIf="!code && !spinnerService">
    <button  class="right" mat-button color="warn" (click)="fermer()" >
       <mat-icon>close</mat-icon>
    </button>
    <mat-card-header>
      <mat-card-title>Recuperation de mot de passe</mat-card-title>
      <mat-card-subtitle>Saisissez votre nom d'utilisateur ou votre adresse e-mail de récupération</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="usernameMail" #frm1="ngForm">
        <mat-form-field class="full-width-input" appearance="outline" >
          <mat-label>Username Ou adresse Mail</mat-label>
          <input matInput placeholder="Username Ou adresse Mail" formControlName="emailOrUsername"  required>
          <!-- <mat-icon  matPrefix >account_circle</mat-icon> -->
          <mat-error *ngIf="usernameMail.get('emailOrUsername').touched && usernameMail.get('emailOrUsername').invalid">
            <p>Champs obligatoire, cet champs doit pas etre vide</p>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="frm1.invalid">Suivant</button>
    </mat-card-actions>
  </mat-card>


  <mat-card *ngIf="code && !spinnerService">
    <button  class="right" mat-button color="warn" (click)="fermer()" > 
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-header>
      <mat-card-title>Trouver votre adresse e-mail</mat-card-title>
      <mat-card-subtitle>Saisissez votre nom d'utilisateur ou votre adresse e-mail de récupération</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="codeValidator" #frm2="ngForm">
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Code De Validation</mat-label>
          <input matInput placeholder="Code De Validation" formControlName="code" required>
          <!-- <mat-icon  matPrefix >account_circle</mat-icon> -->
          <mat-error *ngIf="codeValidator.get('code').touched && codeValidator.get('code').invalid">
            <p>Champs obligatoire, cet champs doit pas être vide</p>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="frm2.invalid">Suivant</button>
    </mat-card-actions>
  </mat-card>
</div>
