<mat-card-header >
<H1><strong> MERCI D'AVOIR FINALISE VOTRE INSCRIPTION </strong></H1>
</mat-card-header>

<mat-card-content style ="text-align: justify">
     <h2>Après vérification et activation  de votre compte par l'administrateur,  un lien vous sera envoyer dans votre boite mail pour vous connecter. Merci de vérifier vôtre boite mail  </h2>
</mat-card-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button  (click)='infos()' color="warn" mat-dialog-close>OK</button>
  </mat-dialog-actions>

