<h2 *ngIf="isAction">
  Desactiver Un Compte
</h2>
<h2 *ngIf="!isAction">
  Activation Un Compte
</h2>
<span *ngIf="!isPiner">
  <mat-dialog-content *ngIf="isAction">
    Desactivation du compte de {{data.utilisateur.nom | uppercase}} de la Structure "{{data.utilisateur.structure.nomStructure}}"
  </mat-dialog-content>
  <mat-dialog-content *ngIf="!isAction">
    Activation du compte de {{data.utilisateur.nom | uppercase}} de la Structure "{{data.utilisateur.structure.nomStructure}}"
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" [mat-dialog-close]>Nom Merci</button>
    <button mat-raised-button class="enregistrer" (click)="ActiveOrDesactiv()" >Valide</button>
  </mat-dialog-actions>
</span>
<span *ngIf="isPiner">
  <mat-spinner></mat-spinner>
</span>
